#cuerpo{
	background: #66CCFF;
	/*background: url ("file:///F|/2016/FacultativaI/Paginaweb/imagenes/glass.png") ;*/
	border-color: #1c2454;
		
}

header{
	
	background:url("file:///D|/e/saira/IngSistemasInfo/2016/FacultativaI/Paginaweb/imagenes/glass.png") ;
/*background: #d8e2e6;*/
	/*Codigo generado desde CSSMATIC*/	
	border-radius: 10px 10px 10px 10px;
    -moz-border-radius: 10px 10px 10px 10px;
    -webkit-border-radius: 10px 10px 10px 10px;
    border: 0px solid #2938db;
	
}
h1{
	
	font-family: sans-serif;
	color:#0000ff;
}
#logo{
	position: relative;
	top: 2px;
	}

#logo2{
	position: relative;
	float:right;
}
#menu{
/*Codigo generado desde CSSMATIC*/	
background: rgba(179,220,237,1);
background: -moz-linear-gradient(left, rgba(179,220,237,1) 0%, rgba(41,87,227,1) 50%, rgba(188,224,238,1) 100%);
background: -webkit-gradient(left top, right top, color-stop(0%, rgba(179,220,237,1)), color-stop(50%, rgba(41,87,227,1)), color-stop(100%, rgba(188,224,238,1)));
background: -webkit-linear-gradient(left, rgba(179,220,237,1) 0%, rgba(41,87,227,1) 50%, rgba(188,224,238,1) 100%);
background: -o-linear-gradient(left, rgba(179,220,237,1) 0%, rgba(41,87,227,1) 50%, rgba(188,224,238,1) 100%);
background: -ms-linear-gradient(left, rgba(179,220,237,1) 0%, rgba(41,87,227,1) 50%, rgba(188,224,238,1) 100%);
background: linear-gradient(to right, rgba(179,220,237,1) 0%, rgba(41,87,227,1) 50%, rgba(188,224,238,1) 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#b3dced', endColorstr='#bce0ee', GradientType=1 );
/* */
	width: 97%;
	padding: 5px 20px;
	float: left;
}

#menu li{
	margin: 10px;
    float:right;
	list-style: none;
	color:#020a3a;
	font-family: sans-serif;
}

.seccion{  
	display: block;
	float: left;
	width: 600px;
	height: 300px;
	margin: 20px;
	background: #d8e2e6;
	padding: 10px;

	/*Codigo generado desde CSSMATIC*/	
	border-radius: 10px 10px 10px 10px;
    -moz-border-radius: 10px 10px 10px 10px;
    -webkit-border-radius: 10px 10px 10px 10px;
    border: 0px solid #2938db;
}
aside{
	display: block;
	float: right;
	margin: 20px;
	background: #d8e2e6;
	height: 200px;

	/*Codigo generado desde CSSMATIC  ---Borde Redondo*/	
	border-radius: 10px 10px 10px 10px;
    -moz-border-radius: 10px 10px 10px 10px;
    -webkit-border-radius: 10px 10px 10px 10px;
    border: 0px solid #2938db;

    /*Codigo generado desde CSSMATIC  ---Sombra*/	

    -webkit-box-shadow: 10px 10px 5px -2px rgba(77,71,230,1);
    -moz-box-shadow: 10px 10px 5px -2px rgba(77,71,230,1);
    box-shadow: 10px 10px 5px -2px rgba(77,71,230,1);
}
.direccion{
	font-family: fantasy;
	color: #1c2454;
}

footer{
	/*/display: block;*/
	clear: both;
	width: 100%;
	height: 50px;
	bottom: 0;
	position: fixed;
	/*background: #566cfe;*/
	text-align: center;
	/*border-top: 2px solid #9999*/

	background: rgba(179,220,237,1);
background: -moz-linear-gradient(left, rgba(179,220,237,1) 0%, rgba(213,220,224,1) 21%, rgba(5,103,207,1) 50%, rgba(187,194,237,1) 100%);
background: -webkit-gradient(left top, right top, color-stop(0%, rgba(179,220,237,1)), color-stop(21%, rgba(213,220,224,1)), color-stop(50%, rgba(5,103,207,1)), color-stop(100%, rgba(187,194,237,1)));
background: -webkit-linear-gradient(left, rgba(179,220,237,1) 0%, rgba(213,220,224,1) 21%, rgba(5,103,207,1) 50%, rgba(187,194,237,1) 100%);
background: -o-linear-gradient(left, rgba(179,220,237,1) 0%, rgba(213,220,224,1) 21%, rgba(5,103,207,1) 50%, rgba(187,194,237,1) 100%);
background: -ms-linear-gradient(left, rgba(179,220,237,1) 0%, rgba(213,220,224,1) 21%, rgba(5,103,207,1) 50%, rgba(187,194,237,1) 100%);
background: linear-gradient(to right, rgba(179,220,237,1) 0%, rgba(213,220,224,1) 21%, rgba(5,103,207,1) 50%, rgba(187,194,237,1) 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#b3dced', endColorstr='#bbc2ed', GradientType=1 );

}
